/* 전체 */

* {margin: 0 auto; list-style: none; text-decoration: none; color:black;
     padding: 0; }
body {width:1300px;}
a {color: inherit;}
a:hover {color: inherit;}

/* header */
header {height: 150px;}
header img {float:left; width: 100px; height: 100px; margin-top: 25px;}
header nav {float: right; margin-top: 50px; padding: 5px;} 
.nav {width: 600px; height: 40px;background-color: #042B74; margin: 10px; padding: 5px;}
.nav > li {float: left; width: 130px;  text-align: center;
      padding: 6px 0; color:white;font-weight:100;}
.nav > li:hover {background-color: white; font-weight: bold;color:#042B74}

.nav2 {width: 1300px; height: 30px;background-color: #042B74; }
.nav2> .bott {float: right;}
.nav2> .foott {float: left; width: 600px;}
.nav2 > li { width: 130px; position: relative; text-align: center;
      padding: 5px 0; color:white;font-weight:100;}
.nav2 >.bott:hover {background-color: white; font-weight: bold;color:#042B74}

/* 본문이미지 */
.gong{background-color: #ffbb00; width: 500px;}
hr{border: #ffbb00 1px solid;;}
.slide {clear: both; height:450px;  margin-top: 10px; position: relative;
      overflow:hidden;}
      .slide img { position: absolute;}
      
/* 본문 */
.notice{float: left; }
.noTb{border-collapse: collapse; float: left; width: 450px;height: 50px;}
.noTb{text-align: left;  margin-right: 5px;}
.noTb:hover {font-weight: bold;color:#00143a}
.tow {background-color: #ffbb00; font-weight: bold;}

th {border-bottom: #ffbb00; border-bottom: #ffbb00;}
 td{ padding: 3px; }
tr{border-top: #ffbb00; width: 100px;}

.noTb>th:nth-child(odd),tr:nth-child(odd){
      background-color: #ffffff;
}
.noTb>th:nth-child(even),tr:nth-child(even){
      background-color: #ffbb00;
}





.tow{border-collapse: collapse; margin-left:5px;width: 660px; height: 20px; text-align: left;}
.white{background-color: #ffffff; color: white;}



.picture {padding: 4%; margin-left: 20px; }

.picture img { width: 200px; height:100px;margin: 5px; padding-top: 26px;}
/* .info { text-align: center; position: absolute;top:700px; right:300px;} */
.info {position: relative;top:-180px; right:10px;}
.info img { width: 180px; float:right;}
.info:hover {-webkit-filter: blur(0.6px);}
span {
   
      height: 30px;
      width:100px;
      position: absolute;
      text-align: center;
      color: wheat;
      font-weight: bold;
      line-height: 30px;
      background-color: rgba(128, 128, 128, 0.582);
      top:50px;
      left:1160px}
      
footer{width:1300px;height:100px;top: 850px;position: absolute;background-color: #042B74;color: white;}
